.profile {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile__greeting {
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
    margin-top: 74px;
    margin-bottom: 140px;
}

.profile__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 13.31px;
    margin-top: 0;
    margin-bottom: 16px;
}

.profile__input {
    text-align: right;
    border: none;
    padding: 0;
}

.profile__error {
    display: block;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 4px;
    color: #EE3465;
}

.profile__button {
    border: none;
    background-color: #fff;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.8s linear;
}

.profile__button:hover {
    opacity: 0.6;
    transition: opacity 0.8s linear;
}

.profile__text_size_bold {
    font-weight: 500;
}

.profile__container {
    display: flex;
    justify-content: space-between;
    min-width: 410px;
}

.profile__container_border {
    border-bottom: 1px solid #E8E8E8;
}

.profile__footer-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    margin: 0;
    border: none;
    background-color: #fff;
}

.profile__footer-text_size_redbold {
    color: #EE3465;
    font-weight: 500;
    text-decoration: none;
    margin-top: 16px;
}

.profile__info-content {
    margin-bottom: 220px;
}

@media (max-width: 760px) {
    .profile__container {
        min-width: 260px;
    }

    .profile__footer-text {
        font-size: 12px;
        line-height: 14.52px;
    }

    .profile__info-content {
        margin-bottom: 379px;
    }

    .profile__greeting {
        margin-top: 70px;
        margin-bottom: 80px;
    }
}