.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.filter__input {
    /* clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; */
    appearance: none;
    background-image: url("../../images/smalltumboff.svg");
    width: 42px;
    height: 22px;
    object-fit: cover;
    align-items: center;
}

.filter__input::before {
    background-image: url("../../images/smalltumboff.svg");
    width: 36px;
    height: 20px;
}

.filter__input_checked {
    background-image: url("../../images/smalltumb_checked.svg");
}