.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.filter__input {
    appearance: none;
    background-image: url("../../images/smalltumboff.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 36px;
    height: 20px;
    cursor: pointer;
}

.filter__input_checked {
    background-image: url("../../images/smalltumb_checked.svg");
}